<h2 class="text-center">パスワード編集</h2>
<div class="pass-edit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field-p">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em><br />
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", :size=>"40" %>
  </div>

    <div class="field-p">
      <%= f.label :password_confirmation, "新しいパスワード(確認用)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field-cp">
      <%= f.label :current_password, "現在のパスワード" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "更新" %>
    </div>
<% end %>

  <h3>アカウントを削除する</h3>

  <p> <%= button_to "削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <h4><%= link_to "＜戻る", :back %></h4>
</div>
