<h2 class="title text-center">パスワード編集</h2>
<div class="pass-edit">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/error_message", resource: resource %>

  <div class="field-p">
    <%= f.label :password, "新しいパスワード(#{@minimum_password_length}文字以上)" %><br />
    <%= f.password_field :password, autocomplete: "new-password", :size=>"40" %>
  </div>

    <div class="field-p">
      <%= f.label :password_confirmation, "新しいパスワード(確認用)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"40" %>
    </div>

    <div class="field-cp">
      <%= f.label :current_password, "現在のパスワード" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", :size=>"40" %>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: "btn btn-info" %>
    </div>
  <% end %>
  
  <h4><%= link_to "戻る", :back, class: "glyphicon glyphicon-circle-arrow-left" %></h4>

  <div class="account-delete">
    <h3>アカウント削除</h3>
    <p> <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除してもよろしいですか？" }, method: :delete, class: "btn btn-danger" %></p>
  </div>
</div>
