<h1>登録情報編集</h1>
<%= form_for @user, url:user_path(@user.id) do |f| %>
<%= attachment_image_tag @user, :profile_image, :fill,45,45, fallback: "no_image.jpg",size:"100x100" %>
 <%= f.attachment_field :profile_image %>
<table>
  <tbody>
    <tr>
      <th>ニックネーム</th>
      <td><%= f.text_field :name %>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><%= f.password_field :password,placeholder:'変更の必要がない場合は記載不要です。' %></td>
    </tr>
    <tr>
      <th>パスワード確認</th>
      <td><%= f.password_field :password_confirmation,placeholder:'変更の必要がない場合は記載不要です。' %></td>
    </tr>

  </tbody>
</table>
      <%= f.submit "変更を保存する", class: "btn btn-info" %>
<% end %>



