<h2 div class="text-center">マイページ</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
<h4>登録情報</h4>
  <%= attachment_image_tag @user, :profile_image, :fill,45,45, fallback: "no_image.jpg",size:"100x100" %>
    </div>
    <div class="col-xs-7 col-xs-offset-2">
<table class="table table-bordered">
  <tr>
    <th>ニックネーム</th>
      <td><%= @user.name %></td>
  </tr>
  <tr>
      <th>パスワード</th>
      <td>●●●●●●</td>
  </tr>
</table>

<%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-primary" %>
     </div>
     </div>
   </div>

   <h3>お気に入り一覧</h3>
   <% @favorites.each do |favorite| %>

           <div class="video_<%= favorite.video.id %> box"><div>
          <%= link_to video_path(@video) do %>
          <%= attachment_image_tag @video, :image, :fill,45,45, fallback: "noimage.jpg",size:"100x150" %>
          <% end %>
          </div>
          <div><%= favorite.video.name %></div>
          <div><h5><%= favorite.video.category_id %></h5></div>
          <div><h5><%= favorite.video.genre_id %></h5></div>
          <!-- お気に入り機能 -->
          <%= link_to destroy_mypage_favorite_video_favorites_path(favorite.video), method: :delete, remote: true do %>
            <span><%= button_tag(class: "btn btn-default btn-md") do %>
          <%= content_tag :span, "", class: "glyphicon glyphicon-star" %>
          <%= favorite.video.favorites.count %>
            <% end %>
            </span>
          <% end %>

          <!-- 評価機能 -->
         <div id="star-rating-<%= favorite.video.id %>"></div>
          <script>
          $('#star-rating-<%= favorite.video.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= favorite.video.reviews.size.zero? ? 0 : favorite.video.reviews.map(&:rating).sum / favorite.video.reviews.size %>,
          });
          </script>
          <!-- 平均値算出　評価なしの場合は0で返す -->
          <%= (favorite.video.reviews.size.zero? ? 0 : favorite.video.reviews.map(&:rating).sum / favorite.video.reviews.size).round(1) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

