<h2 div class="text-center">マイページ</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
<h4>登録情報</h4>
  <%= attachment_image_tag @user, :profile_image, :fill,45,45, fallback: "no_image.jpg",size:"100x100" %>
    </div>
    <div class="col-xs-7 col-xs-offset-2">
<table class="table table-bordered">
  <tr>
    <th>ニックネーム</th>
      <td><%= @user.name %></td>
  </tr>
  <tr>
     <th>メールアドレス</th>
      <td><%= @user.email %></td>
  </tr>
  <tr>
      <th>パスワード</th>
      <td>● ● ● ● ●</td>
  </tr>
</table>

<%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-primary" %>
     </div>
     </div>
   </div>

   <h3>お気に入り一覧</h3>
   <% @favorites.each do |favorite| %>

           <div class="box">
          <div>
          <%= link_to video_path(@video) do %>
          <%= attachment_image_tag @video, :image, :fill,45,45, fallback: "noimage.jpg",size:"100x150" %>
          <% end %>
          </div>
          <div><%= favorite.video.name %></div>
          <div><h5><%= favorite.video.category_id %></h5></div>
          <div><h5><%= favorite.video.genre_id %></h5></div>
          <% if favorite.video.favorited_by?(current_user) %>
            <%= link_to video_favorites_path(favorite.video), method: :delete do %>
              <span><%= button_tag(class: "btn btn-default btn-md") do %>
            <%= content_tag :span, "", class: "glyphicon glyphicon-star" %>
            <%= favorite.video.favorites.count %>
            </span>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to video_favorites_path(favorite.video), method: :post  do %>
              <span><%= button_tag(class: "btn btn-default btn-md") do %>
              <%= content_tag :span, "", class: "glyphicon glyphicon-star-empty" %>
              <%= favorite.video.favorites.count %>
              </span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

