<h2 div class="text-center">作品編集</h2>
<!--  エラーメッセージ-->
<%= render 'users/error_message', resource: @video %>
<div class="container">
  <div class="row">
    <%= form_for(@video, url:video_path, method: :patch) do |f| %>
      <div class="col-xs-2  col-xs-offset-2">
        <%= f.label :image, "画像" %>
        <div class="image_field">
          <%= attachment_image_tag @video, :image, format: "jpeg", fallback: "noimage.jpg", class: "new_video_image" %>
          <div class="image_btn">
            <%= f.attachment_field :image, id: "file" %>
          </div>
          <div id="img_field" onClick="$('#file').click()" >
            <span class="btn btn-default">画像選択</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-xs-offset-2">
        <table>
          <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr height="100">
              <td><%= f.select :category_id,[["映画","映画"],["ドラマ","ドラマ"],["アニメ","アニメ"],["それ以外のカテゴリー","それ以外のカテゴリー"]], include_blank:"--カテゴリー選択--" %></td>
              <td><%= f.select :genre_id,[["アクション","アクション"],["冒険","冒険"],["コメディ","コメディ"],["ミステリー","ミステリー"],["ヒューマン","ヒューマン"],["SF","SF"],["ファンタジー","ファンタジー"],["ホラー","ホラー"],["犯罪","犯罪"],["それ以外のジャンル","それ以外のジャンル"]], include_blank:"--ジャンル選択--" %></td>
            </tr>
            <tr height="100">
              <th><%= f.label :name, "作品名" %></th>
              <td class="b"><%= f.text_field :name, :size=>"50" %></td>
            </tr>
            <tr height="100">
              <th><%= f.label :summary, "あらすじ" %></th>
              <td class="b"><%= f.text_area :summary, :size=>"50x7" %></td>
            </tr>
          </tbody>
        </table>
        <%= f.submit '変更', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>