<h2>作品詳細画面</h2>
  <%= attachment_image_tag @video, :image, :fill,45,45, fallback: "noimage.jpg",size:"300x200" %>
  <h3>作品名</h3>
  <h3><%= @video.name %></h3>
  <h3>あらすじ</h3>
  <h5><%= @video.summary %></h5>
  <h5>カテゴリー<%= @video.category_id %></h5>
  <h5>ジャンル<%= @video.genre_id %></h5>
  <%= link_to "編集", edit_video_path(@video.id), class: "btn btn-primary" %>
  <%= link_to "削除", video_path(@video.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
　　 <!-- レビュー機能-->
    <%= form_for @review do |f| %>
      <!--作品の送信-->
      <%= f.hidden_field :video_id, value: @video.id %>
      <!--投稿者の送信-->
      <%= f.hidden_field :user_id, value: @user.id %>
      <!-- 評価 -->
      <div class="form-group row" id="star">
        <%= f.label :rating,'評価 ', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :rating, id: :review_star %>
      </div>
      <!-- 評価javascript -->
      <script>
      $('#star').raty({
      	size     : 36,
      	starOff:  '<%= asset_path('star-off.png') %>',
      	starOn:  '<%= asset_path('star-on.png') %>',
        starHalf:  '<%= asset_path('star-half') %>',
        scoreName: 'review[rating]',
        half: true,
      });
      </script>
      <!-- 感想 -->
      <div class="form-group row">
      <%= f.label :impression, '感想 ', class:'col-md-3 col-form-label' %>
        <div class="col-md-12">
        <%= f.text_area :impression, class: "form-control",
            placeholder:'感想内容がなくても、評価のみで投稿できます。' %>
        </div>
      </div>
      <!-- 送信ボタン -->
      <div class="form-group row justify-content-end">
        <div class="col-md-9">
        <%= f.submit '投稿する', class:"btn btn-success" %>
        </div>
      </div>
    <% end%>
    <!-- 評価一覧 -->
    <% @reviews.each do |review| %>
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
        <%= attachment_image_tag @user, :profile_image, :fill,45,45, fallback: "no_image.jpg",size:"100x100" %>
        <h3><%= @user.name %></h3>
        </div>
        <div class="col-xs-7 col-xs-offset-2">
          <div id="star-rating-<%= review.id %>"></div>
          <script>
          $('#star-rating-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rating %>,
          });
          </script>
          <%= review.rating %>点<br>
          <%= review.impression %>
          <% if current_user == review.user %>
          <%= link_to '口コミを削除', review, method: :delete, class:'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
          <!-- ここまで -->

