<h2>作品詳細画面</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-2  col-xs-offset-1">
    <%= attachment_image_tag @video, :image, :fill,45,45, fallback: "noimage.jpg", class: "show_video_image" %>
    </div>
    <div class="col-xs-7 col-xs-offset-2">
    <table>
      <thead>
        <tr>
          <th></th> 
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h3>作品名:</h3></td>
          <td><h3><%= @video.name %></h3></td>
        </tr>
        <tr>
          <td><h4>あらすじ:</h4></td>
          <td><h4><%= @video.summary %></h4></td>
        </tr>
        <tr>
          <td><h5>カテゴリー:</h5></td>
          <td><%= @video.category_id %></td>
        </tr>
        <tr>
          <td><h5>ジャンル:</h5></td>
          <td><%= @video.genre_id %></td>
        </tr>
          </tbody>
      </table>
      <% if @video.user == current_user %>
        <%= link_to "編集", edit_video_path(@video.id), class: "btn btn-primary" %>
        <%= link_to "削除", video_path(@video.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
      <% end %>
    </div>
</div>
</div>
　　 <!-- レビュー機能-->
    <%= form_with model: @review, data: {remote: true} do |f| %>
      <!--作品の送信-->
      <%= f.hidden_field :video_id, value: @video.id %>
      <!--投稿者の送信-->
      <%= f.hidden_field :user_id, value: @user.id %>
      <!-- 評価 -->
      <div class="form-group row" id="star">
        <%= f.label :rating,'評価 ', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :rating, id: :review_star %>
      </div>
      <!-- 評価javascript -->
      <script>
      $('#star').raty({
      	size     : 36,
      	starOff:  '<%= asset_path('star-off.png') %>',
      	starOn:  '<%= asset_path('star-on.png') %>',
        starHalf:  '<%= asset_path('star-half') %>',
        scoreName: 'review[rating]',
        half: true,
      });
      </script>
      <!-- 感想 -->
      <div class="form-group row">
      <%= f.label :impression, '感想 ', class:'col-md-3 col-form-label' %>
        <div class="col-md-12">
        <%= f.text_area :impression, class: "form-control",
            placeholder:'感想内容がなくても、評価のみで投稿できます。' %>
        </div>
      </div>
      <!-- 送信ボタン -->
      <div class="form-group row justify-content-end">
        <div class="col-md-9">
        <%= f.submit '投稿する', class:"btn btn-success" %>
        </div>
      </div>
    <% end%>
    <!-- 評価一覧 -->
    <div class='reviews'>
      <% @reviews.each do |review| %>
        <div class="review_<%= review.id %>">
          <%= render 'videos/review', review: review %>
        </div>
      <% end %>
    </div>
          <!-- ここまで -->

